<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <nav>
      <div class="navbar-left">EMS User System</div>
      <div class="navbar-right">
        <span>{{ fname }} {{ lname }}</span>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('logout') }}">Logout</a>
      </div>
    </nav>
    <div class="content">{% block content %}{% endblock %}</div>
  </body>
</html>




<!-- Path: templates/navbar.html -->
<header id="navbar">
  <nav class="navbar-container container">
    <a href="/home" class="home-link">
      <div class="navbar-logo">
        <img
          src="{{ url_for('static', filename='images/logo.png') }}"
          alt="Logo"
        />
      </div>
    </a>
    <div class="navbar-links">
      
      <a class="navbar-link" href="/home">Home</a>
      <a class="navbar-link" href="/logout">Logout</a>
      <a href=""><span>{{ fname }} {{ lname }}</span></a>
    </div>
  </nav>
</header>